In [1]:
import pandas as pd 
import numpy as np
import glob 

import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
glob.glob('../../../data/kaggle/M6/*')

['../../../data/kaggle/M6/M6_Universe.csv',
 '../../../data/kaggle/M6/template.csv',
 '../../../data/kaggle/M6/assets_m6.csv']

In [10]:
assets = pd.read_csv('../../../data/kaggle/M6/assets_m6.csv')
m6_un = pd.read_csv('../../../data/kaggle/M6/M6_Universe.csv')

In [23]:
template = pd.read_csv('../../../data/kaggle/M6/template.csv')

In [14]:
assets['date'] = pd.to_datetime(assets['date'])

In [17]:
#assets.pivot_table(index='date', columns='symbol')

In [19]:
assets.tail()

    symbol       date   price
395    XLP 2022-02-02   76.81
396    XLU 2022-02-02   69.34
397    XLV 2022-02-02  133.35
398    XLY 2022-02-02  184.96
399    XOM 2022-02-02   80.62

In [21]:
for col in m6_un.columns[1:]:
    display(m6_un[col].value_counts())

ETF      50
Stock    50
Name: class, dtype: int64

MVEU.L    1
XLF       1
EWJ       1
XLP       1
REET      1
         ..
EWU       1
EWH       1
CHTR      1
EWC       1
COP       1
Name: symbol, Length: 100, dtype: int64

Consumer Discretionary Select Sector SPDR Fund    1
iShares Core S&P 500 ETF                          1
AvalonBay Communities                             1
Communication Services Select Sector SPDR Fund    1
American Electric Power                           1
                                                 ..
Carrier Global                                    1
iShares Gold Trust                                1
Industrial Select Sector SPDR Fund                1
Genuine Parts                                     1
Assurant                                          1
Name: name, Length: 100, dtype: int64

Equities                  37
Fixed Income               9
Financials                 7
Information Technology     7
Industrials                7
Health Care                6
Consumer Discretionary     6
Communication Services     3
Materials                  3
Consumer Staples           3
Utilities                  3
Commodities                3
Real Estate                3
Energy                     2
Volatility                 1
Name: GICS_sector/ETF_type, dtype: int64

Sector-US                                10
Large Cap-Asia                            7
Large Cap-Europe                          4
Sector-Global                             4
Data Processing & Outsourced Services     3
Equity Style-Europe                       3
Equity Style-North America                3
Govt-US                                   3
Credit-US                                 2
Managed Health Care                       2
Paper Packaging                           2
Interactive Media & Services              2
Precious Metals                           2
Large Cap-North America                   2
IT Consulting & Other Services            2
Electric Utilities                        2
Pharmaceuticals                           2
Building Products                         2
Credit-Europe                             2
Industrial Machinery                      1
Cable & Satellite                         1
Health Care Equipment                     1
Trading Companies & Distributors          1
Small Cap-Europe                          1
Internet & Direct Marketing Retail        1
Diversified Banks                         1
Multi-line Insurance                      1
Small Cap-North America                   1
Specialty Chemicals                       1
Food Retail                               1
Reinsurance                               1
Oil & Gas Exploration & Production        1
Consumer Finance                          1
Large Cap-Global                          1
Multi-Utilities                           1
Semiconductor Equipment                   1
Apparel Retail                            1
Industrial REITs                          1
Integrated Oil & Gas                      1
Asset Management & Custody Banks          1
Hotel & Resort REITs                      1
Environmental & Facilities Services       1
General Merchandise Stores                1
US                                        1
Casinos & Gaming                          1
Personal Products                         1
Govt-Global                               1
Distillers & Vintners                     1
Large Cap-South America                   1
Diversified Support Services              1
Residential REITs                         1
Diversified Commodity                     1
Research & Consulting Services            1
Property & Casualty Insurance             1
Restaurants                               1
Health Care Distributors                  1
Govt-Europe                               1
Life & Health Insurance                   1
Specialty Stores                          1
Technology Distributors                   1
Name: GICS_industry/ETF_subtype, dtype: int64

In [24]:
template

      ID  Rank1  Rank2  Rank3  Rank4  Rank5  Decision
0   ABBV    0.2    0.2    0.2    0.2    0.2      0.01
1    ACN    0.2    0.2    0.2    0.2    0.2      0.01
2    AEP    0.2    0.2    0.2    0.2    0.2      0.01
3    AIZ    0.2    0.2    0.2    0.2    0.2      0.01
4   ALLE    0.2    0.2    0.2    0.2    0.2      0.01
..   ...    ...    ...    ...    ...    ...       ...
95   XLC    0.2    0.2    0.2    0.2    0.2      0.01
96   XLU    0.2    0.2    0.2    0.2    0.2      0.01
97   XLP    0.2    0.2    0.2    0.2    0.2      0.01
98   XLB    0.2    0.2    0.2    0.2    0.2      0.01
99   VXX    0.2    0.2    0.2    0.2    0.2      0.01

[100 rows x 7 columns]