## Kaggle M5 competition

In [24]:
import pandas as pd
import numpy as np
import glob
import gc
from sklearn.preprocessing import LabelEncoder

In [2]:
import sys
lib_path = '../../../frameworks/time_series_signals_sound'
sys.path.append(lib_path)
lib_path_2 = '../../../frameworks/'
sys.path.append(lib_path_2)

In [3]:
from modeling import ts_models

In [4]:
glob.glob('../../../data/kaggle/M5/*')

['../../../data/kaggle/M5/sales_train_evaluation.csv',
 '../../../data/kaggle/M5/sell_prices.csv',
 '../../../data/kaggle/M5/calendar.csv',
 '../../../data/kaggle/M5/sales_train_validation.csv',
 '../../../data/kaggle/M5/sample_submission.csv']

In [42]:
calendar = pd.read_csv('../../../data/kaggle/M5/calendar.csv')
#sales = pd.read_csv('../../../data/kaggle/M5/sales_train_evaluation.csv')
#prices = pd.read_csv('../../../data/kaggle/M5/sell_prices.csv')

In [44]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [45]:
calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [7]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

In [8]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

In [10]:
def downcast(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df

In [11]:
sales = downcast(sales)
prices = downcast(prices)
calendar = downcast(calendar)

In [12]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   datetime64[ns]
 1   wm_yr_wk      1969 non-null   int16
 2   weekday       1969 non-null   category
 3   wday          1969 non-null   int8
 4   month         1969 non-null   int8
 5   year          1969 non-null   int16
 6   d             1969 non-null   category
 7   event_name_1  162 non-null    category
 8   event_type_1  162 non-null    category
 9   event_name_2  5 non-null      category
 10  event_type_2  5 non-null      category
 11  snap_CA       1969 non-null   int8
 12  snap_TX       1969 non-null   int8
 13  snap_WI       1969 non-null   int8
dtypes: category(6), datetime64[ns](1), int16(2), int8(5)
memory usage: 144.0 KB

In [13]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: category(6), int16(1317), int8(624)
memory usage: 96.6 MB

In [14]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    category
 1   item_id     category
 2   wm_yr_wk    int16
 3   sell_price  float16
dtypes: category(2), float16(1), int16(1)
memory usage: 45.8 MB

## Baseline

In [46]:
%%time

sales_valid = pd.read_csv('../../../data/kaggle/M5/sales_train_validation.csv')
sample = pd.read_csv('../../../data/kaggle/M5/sample_submission.csv', index_col=0)
valid = []
for idx, row in sales_valid.iterrows():
    valid.append(ts_models.baseline_forecast(row[6:], 
                                       ftype='season mean', 
                                       steps=28, 
                                       n_seasons=4, 
                                       time_index=False,
                                       index=sample.columns).to_frame().T)

valid = pd.concat(valid).reset_index(drop=True)
valid['id'] = data_valid['id']
    
    
evalut = []
for idx, row in sales.iterrows():
    evalut.append(ts_models.baseline_forecast(row[6:], 
                                       ftype='season mean', 
                                       steps=28, 
                                       n_seasons=4, 
                                       time_index=False,
                                       index=sample.columns).to_frame().T)

evalut = pd.concat(evalut).reset_index(drop=True)
evalut['id'] = data['id']
    
submission =  pd.concat([valid, evalut]).set_index('id')
submission.to_csv('baselin_sub.csv')

CPU times: user 1min 2s, sys: 715 ms, total: 1min 3s
Wall time: 1min 3s

In [15]:
%%time
# melt series and merge all data
df = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d', value_name='sold').dropna()
df = pd.merge(df, calendar, on='d', how='left')
df = pd.merge(df, prices, on=['store_id','item_id','wm_yr_wk'], how='left')

CPU times: user 1min 13s, sys: 30.7 s, total: 1min 44s
Wall time: 1min 44s

In [16]:
del sales, prices, calendar
gc.collect()

13

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59181090 entries, 0 to 59181089
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             object
 7   sold          int16
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       category
 11  wday          int8
 12  month         int8
 13  year          int16
 14  event_name_1  category
 15  event_type_1  category
 16  event_name_2  category
 17  event_type_2  category
 18  snap_CA       int8
 19  snap_TX       int8
 20  snap_WI       int8
 21  sell_price    float16
dtypes: category(11), datetime64[ns](1), float16(1), int16(3), int8(5), object(1)
memory usage: 2.8+ GB

In [18]:
# make dict 
d_id = dict(zip(df.id.cat.codes, df.id))
d_store_id = dict(zip(df.store_id.cat.codes, df.store_id))

In [28]:
# event coumns preprocessing
list1=['event_name_1','event_type_1','event_name_2','event_type_2']
for i in list1:
    
    df[i] = df[i].cat.add_categories("nan").fillna("nan")
    df[i]=LabelEncoder().fit_transform(df[i]).astype(np.int8)
    df[i]=df[i].astype('category')

In [29]:
# extract days
df.d = df['d'].apply(lambda x: x.split('_')[1]).astype(np.int16)

In [32]:
cols = df.dtypes.index.tolist()
types = df.dtypes.values.tolist()
for i,type in enumerate(types):
    if type.name == 'category':
        df[cols[i]] = df[cols[i]].cat.codes

In [35]:
df['date'] = df['date'].apply(lambda x: x.strftime('%d')).astype(np.int8)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59181090 entries, 0 to 59181089
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int16
 1   item_id       int16
 2   dept_id       int8
 3   cat_id        int8
 4   store_id      int8
 5   state_id      int8
 6   d             int16
 7   sold          int16
 8   date          int8
 9   wm_yr_wk      int16
 10  weekday       int8
 11  wday          int8
 12  month         int8
 13  year          int16
 14  event_name_1  int8
 15  event_type_1  int8
 16  event_name_2  int8
 17  event_type_2  int8
 18  snap_CA       int8
 19  snap_TX       int8
 20  snap_WI       int8
 21  sell_price    float16
dtypes: float16(1), int16(6), int8(15)
memory usage: 2.0 GB

## Add extra features

In [ ]:
#lags sold
lags = [28,35,42,49]
for lag in lags:
    df['sold_lag_'+str(lag)] = df.groupby(['id', 
                                           'item_id', 
                                           'dept_id',
                                           'cat_id', 
                                           'store_id', 
                                           'state_id'],as_index=False)['sold'].shift(lag).astype(np.float16)

In [ ]:
# lags event
lags2 = [1,2]
for lag in lags2:
    df['event1_lag_'+str(lag)] = df.groupby(['id', 
                                             'item_id', 
                                             'dept_id', 
                                             'cat_id', 
                                             'store_id', 
                                             'state_id'],as_index=False)['event_name_1']\
                                    .shift(lag)\
                                    .astype(np.float16)
    
    df['event1_lag_'+str(lag)].fillna(100, inplace=True)
    df['event1_lag_'+str(lag)] = df['event1_lag_'+str(lag)].astype(np.int8)
    df['event1_lag_'+str(lag)] = df['event1_lag_'+str(lag)].astype('category')

In [ ]:
# mean sold of item by all stores
df['item_sold_avg'] = df.groupby('item_id')['sold'].transform('mean').astype(np.float16)    
#df['state_sold_avg'] = df.groupby('state_id')['sold'].transform('mean').astype(np.float16)
#df['store_sold_avg'] = df.groupby('store_id')['sold'].transform('mean').astype(np.float16)

# mean sold  by category, department, cat + dep, store + item, cat + item, dep+item, store+cat+dep
df['cat_sold_avg'] = df.groupby('cat_id')['sold'].transform('mean').astype(np.float16)
df['dept_sold_avg'] = df.groupby('dept_id')['sold'].transform('mean').astype(np.float16)
df['cat_dept_sold_avg'] = df.groupby(['cat_id','dept_id'])['sold'].transform('mean').astype(np.float16)
df['store_item_sold_avg'] = df.groupby(['store_id','item_id'])['sold'].transform('mean').astype(np.float16)
df['cat_item_sold_avg'] = df.groupby(['cat_id','item_id'])['sold'].transform('mean').astype(np.float16)
df['dept_item_sold_avg'] = df.groupby(['dept_id','item_id'])['sold'].transform('mean').astype(np.float16)
#df['state_store_sold_avg'] = df.groupby(['state_id','store_id'])['sold'].transform('mean').astype(np.float16)
#df['state_store_cat_sold_avg'] = df.groupby(['state_id','store_id','cat_id'])['sold'].transform('mean').astype(np.float16)
df['store_cat_dept_sold_avg'] = df.groupby(['store_id','cat_id','dept_id'])['sold'].transform('mean').astype(np.float16)

In [ ]:
# replace week number to atarted from zero  
df['wm_yr_wk_linear']=LabelEncoder().fit_transform(df['wm_yr_wk'].values).astype(np.int16)
df.drop(['wm_yr_wk'], axis=1, inplace=True)

In [ ]:
# add week price lag and diff
df['price_lag'] = df.groupby(['id', 
                              'item_id', 
                              'dept_id', 
                              'cat_id', 
                              'store_id', 
                              'state_id'],as_index=False)['sell_price'].shift(7).astype(np.float16)
# TODO sell price contain nan price-diff - too
df['price-diff']=df['price_lag']-df['sell_price']
df.drop(['price_lag'], axis=1, inplace=True)

In [ ]:
# add value of cents - 99 effect ?
df['sell_price'].fillna(-1,inplace=True)
df['decimal']=df['sell_price'].apply(lambda x: 100*(x-int(x))).astype(np.int16)
df['sell_price'].replace(-1,np.nan,inplace=True)

In [ ]:
# calculate expanding mean price with window 2
df['expanding_price_mean'] = df.groupby(['id', 
                                         'item_id', 
                                         'dept_id', 
                                         'cat_id', '
                                         store_id', 
                                         'state_id'])['sell_price']\
                                .transform(lambda x: x.expanding(2).mean())\
                                .astype(np.float16)
# calculate difference
df['diff_moving_mean']=df['expanding_price_mean']-df['sell_price']

# drop expanding mean
df.drop(['expanding_price_mean'], axis=1, inplace=True)

In [ ]:
# ???
df['price-diff']=df['price-diff'].astype(np.float16)
# drop wdas - same as weekday
df.drop(['wday'], axis=1, inplace=True)
df['decimal']=df['decimal'].astype(np.int8)
# encode year
df['year']=LabelEncoder().fit_transform(df['year']).astype(np.int8)

In [ ]:
# ?? sell price  not change - may be erros
df['daily_avg_sold'] = df.groupby(['id', 
                                   'item_id', 
                                   'dept_id', 
                                   'cat_id', 
                                   'store_id', 
                                   'state_id','d'])['sell_price'].transform('mean').astype(np.float16)
# mean price
df['avg_sold'] = df.groupby(['id', 
                             'item_id', 
                             'dept_id', 
                             'cat_id', 
                             'store_id', 
                             'state_id'])['sell_price'].transform('mean').astype(np.float16)
# difference between daily price and avg price (may be mean sells)
df['selling_trend'] = (df['daily_avg_sold'] - df['avg_sold']).astype(np.float16)
df.drop(['daily_avg_sold','avg_sold'],axis=1,inplace=True)

In [ ]:
#max price
df['price_max'] = df.groupby(['store_id','item_id'])['sell_price'].transform('max')
#df['price_min'] = df.groupby(['store_id','item_id'])['sell_price'].transform('min')
#df['price_std'] = df.groupby(['store_id','item_id'])['sell_price'].transform('std')
#df['price_mean'] = df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# relate to max price
df['price_norm'] = df['sell_price']/df['price_max']

# relate price to mean by month and year
#df['price_momentum'] = df['sell_price']/df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1))
df['price_momentum_m'] = df['sell_price']/df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
df['price_momentum_y'] = df['sell_price']/df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

In [ ]:
#df['rolling_sold_mean'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform(lambda x: x.rolling(window=7).mean()).astype(np.float16)
#df['expanding_sold_mean'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform(lambda x: x.expanding(2).mean()).astype(np.float16)
#df['daily_avg_sold'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id','d'])['sold'].transform('mean').astype(np.float16)
#df['avg_sold'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform('mean').astype(np.float16)
#df['selling_trend'] = (df['daily_avg_sold'] - df['avg_sold']).astype(np.float16)
#df.drop(['daily_avg_sold','avg_sold'],axis=1,inplace=True)

In [ ]:
#drop category
list3=['cat_id','state_id']
for i in list3:
    df.drop([i], axis=1, inplace=True)

## Preapare data for modeling

In [ ]:
df = df[df['d']>=49]
df.to_pickle('data.pkl')
del df
gc.collect()

In [ ]:
data = pd.read_pickle('data.pkl')
valid_csv=data[(data['d']>=1914) & (data['d']<1942)][['id','d','sold']]
test = data[data['d']>=1942][['id','d','sold']]
eval_preds = test['sold']
valid_preds_csv=valid_csv['sold']

In [ ]:
cat_column=[]
for i in data.columns:
    if(str(data.dtypes[i])=='category'):
        cat_column.append(i)

In [ ]:
for store in d_store_id:
    df = data[data['store_id']==store]
    
    X_train, y_train = df[df['d']<1914].drop('sold',axis=1), df[df['d']<1914]['sold']
    X_valid_csv, y_valid_csv = df[(df['d']>=1914) & (df['d']<1942)].drop('sold',axis=1), df[(df['d']>=1914) & (df['d']<1942)]['sold']
    X_test = df[df['d']>=1942].drop('sold',axis=1)
    
    model = LGBMRegressor(
        learning_rate= 0.05,
        subsample=0.6,
        feature_fraction=0.6,
        num_iterations = 1200,
        max_bin=350,
        num_leaves= 300,
        lambda_l2=0.003,
        max_depth=200,
        min_data_in_leaf= 80,
        force_row_wise= True,
    )
    print('*****Prediction for Store: {}*****'.format(d_store_id[store]))
    model.fit(X_train, y_train, eval_set=[(X_train,y_train),(X_valid_csv,y_valid_csv)],
             eval_metric='rmse',  verbose=100, early_stopping_rounds=20,categorical_feature=cat_column)
    
    valid_preds_csv[X_valid_csv.index] = model.predict(X_valid_csv)
    eval_preds[X_test.index] = model.predict(X_test)
    filename = 'model'+str(d_store_id[store])+'.pkl'

    #保存模型
    joblib.dump(model, filename)
    del model, X_train, y_train, X_valid_csv, y_valid_csv
    gc.collect()

In [ ]:
valid_csv['sold'] = valid_preds_csv
validation = valid_csv[['id','d','sold']]
validation = pd.pivot(validation, index='id', columns='d', values='sold').reset_index()
validation.columns=['id'] + ['F' + str(i + 1) for i in range(28)]
validation.id = validation.id.map(d_id).str.replace('evaluation','validation')

test['sold'] = eval_preds
evaluation = test[['id','d','sold']]
evaluation = pd.pivot(evaluation, index='id', columns='d', values='sold').reset_index()
evaluation.columns=['id'] + ['F' + str(i + 1) for i in range(28)]
evaluation.id = evaluation.id.map(d_id)

#创建提交文件
submit = pd.concat([validation,evaluation]).reset_index(drop=True)


for i in range(1,29):
    submit['F'+str(i)] *= 1.04

submit.to_csv('submission.csv',index=False)